/* === FORCE LEFT ALIGN FOR SIGNUP FORM === */

#header form {
  margin: 0 !important;
  text-align: left !important;
}

#header #signup-form {
  justify-content: flex-start;
}

#header #signup-form > * {
  margin-left: 0;
  margin-right: 1em;
}

#header #signup-form > *:last-child {
  margin-right: 0;
}
